NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://brahemrayen05_db_user:DScusLZvuHHs1YUK@db.p3dzklk.mongodb.net/
JWT_SECRET=your_super_secret_key_min_32_chars_long_change_me
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=another_secret_for_refresh_tokens_min_32
JWT_REFRESH_EXPIRES_IN=30d
ADMIN_SECRET_KEY=secret_used_to_register_first_admin
FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
WHATSAPP_PHONE=+21600000000
STORE_NAME=Green Diet Sfax
